---
layout: default
title: Privacy Policy
permalink: /privacy/
---

.post
  %h1.post-title
    = "{{ page.title }}"

  %article.post-content
    :markdown

      If you require any more information or have any questions about our
      privacy policy, please feel free to contact us by email at
      [daniel@lytedev.io][email].

      In progress.

      Basically, this site is running Google Analytics.


      [email]: mail://daniel@lytedev.io

