---
title: farkle
version: 0.1.3
langwork: python
layout: project
image: https://raw.githubusercontent.com/lytedev/farkle/master/screenshots/in-game-terminal.png
tags:
- project
- python
---

Project details
