/**
 * Syntax highlighting styles
 */
.highlight {
  background: $grey-color-dark;
  @extend %vertical-rhythm;

  $dark-text: darken($text-color, 40%);
  $darker-text: darken($text-color, 60%);
  $keyword: lighten(desaturate($brand-color, 30%), 20%);
  $brand-comp: desaturate(adjust_hue($brand-color, 180), 40%);
  $brand-red: saturate($brand-color, 100%);
  $brand-alt-color1: adjust_hue($brand-color, 80);
  $brand-alt-color2: lighten(adjust_hue($brand-color, -70), 20%);
  $brand-alt-color3: adjust_hue($brand-color, -140);
  $brand-alt-color4: adjust_hue($brand-color, 60);

  .c { color: $dark-text; font-style: italic } /* Comment */
  .err { color: lighten($brand-color, 50%); background-color: #e3d2d2 } /* Error */
  .k { color: $keyword; font-weight: bold } /* Keyword */
  .o { font-weight: bold } /* Operator */
  .cm { color: $dark-text; font-style: italic } /* Comment.Multiline */
  .cp { color: $dark-text; font-weight: bold } /* Comment.Preproc */
  .c1 { color: $dark-text; font-style: italic } /* Comment.Single */
  .cs { color: $dark-text; font-weight: bold; font-style: italic } /* Comment.Special */
  .gd { color: $brand-red; background-color: #000 } /* Generic.Deleted */
  .gd .x { color: $brand-red; background-color: #000 } /* Generic.Deleted.Specific */
  .ge { font-style: italic } /* Generic.Emph */
  .gr { color: lighten($brand-color, 50%); } /* Generic.Error */
  .gh { color: $brand-color; } /* Generic.Heading */
  .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
  .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
  .go { color: $dark-text; } /* Generic.Output */
  .gp { color: $darker-text; } /* Generic.Prompt */
  .gs { font-weight: bold; } /* Generic.Strong */
  .gu { color: $text-color; } /* Generic.Subheading */
  .gt { color: $brand-color; } /* Generic.Traceback */
  .kc { font-weight: bold } /* Keyword.Constant */
  .kd { font-weight: bold } /* Keyword.Declaration */
  .kp { font-weight: bold } /* Keyword.Pseudo */
  .kr { font-weight: bold } /* Keyword.Reserved */
  .kt { color: $brand-color; font-weight: bold } /* Keyword.Type */
  .m { color: $brand-alt-color3; } /* Literal.Number */
  .s { color: $brand-color; } /* Literal.String */
  .na { color: $brand-alt-color3; } /* Name.Attribute */
  .nb { color: $brand-comp; } /* Name.Builtin */
  .nc { color: $brand-alt-color4; font-weight: bold } /* Name.Class */
  .no { color: $brand-alt-color2; } /* Name.Constant */
  .ni { color: $brand-color; } /* Name.Entity */
  .ne { color: $brand-color; font-weight: bold } /* Name.Exception */
  .nf { color: $brand-color; font-weight: bold } /* Name.Function */
  .nn { color: $brand-red; } /* Name.Namespace */
  .nt { color: $brand-alt-color2; } /* Name.Tag */
  .nv { color: $brand-alt-color2; } /* Name.Variable */
  .ow { font-weight: bold } /* Operator.Word */
  .w { color: #bbbbbb } /* Text.Whitespace */
  .mf { color: $brand-alt-color1; } /* Literal.Number.Float */
  .mh { color: $brand-alt-color1 } /* Literal.Number.Hex */
  .mi { color: $brand-alt-color1; } /* Literal.Number.Integer */
  .mo { color: $brand-alt-color1 } /* Literal.Number.Oct */
  .sb { color: adjust_hue($brand-color, 90) } /* Literal.String.Backtick */
  .sc { color: $brand-alt-color2; } /* Literal.String.Char */
  .sd { color: $brand-alt-color2; } /* Literal.String.Doc */
  .s2 { color: $brand-alt-color2; } /* Literal.String.Double */
  .se { color: $brand-alt-color2; } /* Literal.String.Escape */
  .sh { color: $brand-alt-color2; } /* Literal.String.Heredoc */
  .si { color: $brand-alt-color2; } /* Literal.String.Interpol */
  .sx { color: $brand-alt-color2; } /* Literal.String.Other */
  .sr { color: $brand-alt-color4; } /* Literal.String.Regex */
  .s1 { color: $brand-alt-color2; } /* Literal.String.Single */
  .ss { color: $brand-alt-color4; } /* Literal.String.Symbol */
  .bp { color: $dark-text; } /* Name.Builtin.Pseudo */
  .vc { color: $brand-alt-color2; } /* Name.Variable.Class */
  .vg { color: $brand-alt-color2; } /* Name.Variable.Global */
  .vi { color: $brand-alt-color2; } /* Name.Variable.Instance */
  .il { color: $brand-alt-color2; } /* Literal.Number.Integer.Long */
}
