!!! 5
%html
  = "{% haml head.haml %}"

  %body
    #container
      = "{% haml header.haml %}"

      .page-content
        .wrapper
          = "{{ content }}"

      = "{% haml footer.haml %}"

      .cf

