---
layout: default
---
.post
  %h1.post-title
    = "{{ page.title }}"
  %p.post-meta
    %a(href="{{ page.github }}")
      = "Check it out on GitHub"
    -# = "{{ page.date | date: '%b %-d, %Y' }}"
    .project-image
      %a(href="{{ page.image }}")
        %img(src="{{ page.image }}")


  %article.post-content
    = "{{ content }}"

